<footer class="page-footer green darken-1">
    <!-- <div class="container">
        <div class="row">
            
        </div>
    </div> -->
    <div class="footer-copyright">
        <div class="container">
        © 2019 Copyright
        <button onclick="toTop()" class="grey-text text-lighten-4 right btn"><i class="material-icons">arrow_upward</i></button>
        </div>
    </div>
</footer>

<script>
    function toTop(){
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>