<nav>
    <div class="nav-wrapper green darken-1">
        <div class="">
            <a href="/authUsuarios/main" class="brand-logo" style="height: auto; margin-left: 20px;"><img src="/assets/logo.png" class="full-heigth" alt="logo de página"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a class="waves-effect waves-light btn red darken-2" href="/">Cerrar Sesión</a></li>
            </ul>
        </div>
    </div>
</nav>