<!-- 
    Esta es la página informativa que no requiere de contraseña para ser revisada
 -->

 <% include ./partials/navbarNoAuth %>
 <div class="row">
     <div class="col s12" style="padding: 0; position: relative;">
         <img src="/assets/mainPageWallpaper.jpg" class="full-width" alt="Imagen principal">
         <h2 id="slogan" class="centered-right reset-margin-padding word-wrap" style="color: darkslategray; width: 40%;">Por una alternativa energética con visión al futuro</h2>
     </div>
 </div>

 <div class="container">
     <h2 class="center-align">Biomasa</h2>
     <div class="row valign-wrapper">
         <div class="col s4 center-align">
            <p><b>¿Qué es la biomasa?</b></p>
         </div>
         <div class="col s8">
             <p>
                La biomasa consiste en materia orgánica que puede ser tanto de origen vegetal como animal, la cual puede ser utilizada para generar energía. La fotosíntesis juega un papel importante en la biomasa ya que esa energía procedente del sol que es transformada en energía química mediante este proceso queda almacenada en la materia orgánica. 
             </p>
         </div>
     </div>
     <div class="row valign-wrapper">
         <div class="col s8">
             <p class="right-align">
                La biomasa puede producirse en una gran cantidad de industrias entre las que están la ganadera, agrícola, maderera entre otros. En la ganadera por ejemplo, se puede obtener del estiércol de los animales, de los residuos de los animales muertos, comida, aguas residuales, por mencionar algunos. Por otro lado, en la industria agrícola se puede obtener por ejemplo de los residuos de paja, cáscaras, semillas y restos vegetales. Costa Rica al ser un país que posee tanto industria ganadera así como una creciente industria agrícola, la biomasa es un combustible renovable listo para ser explotado. Se debe hacer la aclaración que es muy importante de donde se obtiene esta biomasa ya que debe ser de lugares controlados para no tener un daño mayor que el bien que se quiere lograr.
             </p>
         </div>
         <div class="col s4 center-align">
             <p><b>¿Cómo se produce?</b></p>
         </div>
     </div>
     <div class="row valign-wrapper">
        <div class="col s4 center-align">
            <p><b>Tipos</b></p>
        </div>
        <div class="col s8">
            <p>
                Existen dos tipos de biomasa disponible, la natural que se produce sin intervención humana como la leña, hojas y demás elementos se pueden encontrar naturalmente. Por otro lado, se tiene la biomasa residual que por el contrario se produce por alguna actividad humana como las mencionadas anteriormente como la industria ganadera y agrícola.
            </p>
        </div>
    </div>
    <div class="row valign-wrapper">
        <div class="col s8">
            <p class="right-align">
                Entre las desventajas encontramos que aunque la biomasa sea más barata que el combustible fósiles, estos siguen siendo más eficientes que la biomasa. Se requiere de un mayor almacenamiento para la biomasa ya que para producir la misma cantidad de energía que un combustible fósiles se requiere un volumen superior de biomasa lo que implica un espacio mayor. Algunas aplicaciones requieren que la biomasa esté seca por lo que se podría requerir una etapa extra se secado.                        
            </p>
        </div>
        <div class="col s4 center-align">
            <p><b>Ventajas</b></p>
        </div>
    </div>

    <div class="row center-align">
        <div class="col offset-s4 s4 center-align">
            <blockquote>
                No puedes pasar un solo día en el tierra sin tener un impacto en el mundo. Lo que haces marca una diferencia y tienes que decidir que tipo de diferencia quieres hacer.
                <cite>
                    Jane Goodall
                </cite>
            </blockquote>
        </div>
    </div>
    
 </div>

 <% include ./partials/footer %>