<!-- 
    Esta es la página informativa que no requiere de contraseña para ser revisada
 -->

 <% include ./partials/navbarNoAuth %>
 <div class="row">
     <div class="col s12" style="padding: 0; position: relative;">
         <img src="/assets/mainPageWallpaper.jpg" class="full-width" alt="Imagen principal">
         <h2 class="centered-right reset-margin-padding word-wrap" style="color: darkslategray; width: 40%;">Por una alternativa energética con visión al futuro</h2>
     </div>
 </div>

 <div class="container">
     <h2 class="center-align">Sección informativa</h2>
 </div>