<% include ./partials/navAuth %>
 <div class="">
 <div class="row">
     <div class="col s2 green lighten-5 mainContainer">
        <div class="row">
            <div class="col s12 center-align">
                <img class="circle fotoPerfil" src="/assets/fotoPerfil1.jpeg" alt="imagen de prefil">
            </div>
            <div class="col s12 center-align">
                <h6>Oscar Umaña</h6>
            </div>
            <div class="col s12">
                <hr>
            </div>
            <div class="row sideNavBtnContainer">
               <button class="btn btn-large waves-effect col s12 sideNavBtn green lighten-5" style="margin-top: 40px;">Ver perfil</button>
               <button class="btn btn-large waves-effect col s12 sideNavBtn green lighten-5">Ver perfil</button>
               <button class="btn btn-large waves-effect col s12 sideNavBtn green lighten-5">Ver perfil</button>
               <button class="btn btn-large waves-effect col s12 sideNavBtn green lighten-5">Ver perfil</button>
            </div>
        </div>
        <div class="col s12 full-heigth-3">

        </div>
     </div>
     <div class="col s10 mainContainer">
         <p>Hola 2</p>
     </div>
 </div>
 </div>