/*Este se puso para centrar el login*/
html,body{
    height: 100%;
}

.full-heigth{
    max-height: 55px;
    height: auto;
    margin-top: 3px;
}

.full-heigth-2{
    max-height: 100%;
    height: 100%;
}

.full-heigth-3{
    min-height: 100%;
}

.full-width{
    max-width: 100%;
}

.reset-margin-padding{
    margin: 0!important;
    padding: 0!important;
}

.centered-right{
    position: absolute;
    top: 41%;
    right: 23%;
    transform: translate(50%, 10%);
}

.word-wrap{
    word-wrap: break-word;
    text-align: center;
}

.container-login{
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("/assets/leaves_bg.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.login-content-container{
    width: 30%;
    margin: 0 auto;
    height: auto;
    padding: 40px;
}

.register-content-container{
    width: 50%;
    margin: 0 auto;
    height: auto;
    padding: 40px;
}

.login-content-container img{
    max-width: 100%;
    width: 100%;
}

.login-content-container h3{
    color: #797979;
}

.fotoPerfil{
    max-height: 150px;
    height: 150px;
    margin-top: 40px;
}

.sideNavBtn{
    color: #797979; 
    margin-bottom: 10px;
}

.mainContainer{
    min-height: 100vh!important;
}

.chat-item{
    height: 10px!important;
    max-height: 10px!important;
    margin: 0!important;
}

.card-chat:hover{
    -webkit-box-shadow: 8px 9px 18px -9px rgba(0,0,0,0.78);
    -moz-box-shadow: 8px 9px 18px -9px rgba(0,0,0,0.78);
    box-shadow: 8px 9px 18px -9px rgba(0,0,0,0.78);
    
}


/*---------------------------------*/
blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    width: 500px;
    margin: 0.25em 0;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
}

blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -8px;
    top: -20px;
    color: #7a7a7a;
}

blockquote:after {
    display: block;
    padding-right: 10px;
    content: "\201D";
    font-size: 80px;
    position: absolute;
    right: 40px;
    bottom: -46px;
    color: #7a7a7a;
}

blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

blockquote cite:before {
    content: "\2014 \2009";
}